### general ###
*
!**/
!README.md

### git ###
!/.gitignore
!/git/.gitconfig

### nvim ###
nvim/dein
nvim/coc
nvim/colors/**/
nvim/rc/**
!/nvim/autoload/**
!/nvim/coc-settings.json
!/nvim/init_personal.vim
!/nvim/init_work.vim
!/nvim/rc/dein_personal.toml
!/nvim/rc/dein_work.toml
!/nvim/VimDevIconsTest/**

### fish ### 
fish/conf.d/
fish/completions/
!/fish/config.fish
!/fish/fish_plugins
!/fish/functions/abc.fish
!/fish/functions/fish_greeting.fish
!/fish/functions/fish_prompt.fish
!/fish/functions/mkcd.fish

### neofetch ###
!/neofetch/config.conf
!/neofetch/icon.png

### tmux ###
!/tmux/.tmux.conf

### iterm ###
!/iterm2/OneDark.json

### brew ###
!/brew/.Brewfile

### key ###
!/keybord/dz60rgb_v2.layout.json

### broot ###
!/broot/conf.hjson

### ignore ###
*.pem
*.key
*.swp
.DS_Store
__pycache__/
.idea/
*.pyc
.netrwhist
